.card-box-c {
    position: relative;
}

@media (max-width: 767px) {
    .card-box-c {
        margin-bottom: 2rem;
    }
}

.card-header-c {
    padding: 0 1rem 1rem 1rem; 
}

.card-body-c {
    padding: 0.5rem 0.5rem 0 0.5rem;
}

@media (max-width: 767px) {
    .card-body-c {
        padding: 0;
    }
}

.card-footer-c {
    padding-left: 0.5rem;
}

.card-box-ico {
    padding: 1rem 3rem 1rem 2.5rem;
    border: 5px solid #c48d17;
}

.card-box-ico span {
    font-size: 4rem;
    color: #000;
}

.title-c {
    font-size: 2.5rem;
    font-weight: 600;
    margin-left: -40px;
}

@media (min-width: 768px) {
    .title-c {
        font-size: 1.8rem;
    }
}

@media (min-width: 992px) {
    .title-c {
        font-size: 2.5rem;
    }
}






.link-c {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2.5rem;
    border: 5px solid #c48d17;
    background-color: transparent;
    color: #000;
    /* Couleur du texte */
    font-size: 16px;
    /* Taille de la police */
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.link-c:hover {
    background-color: #c48d17;
    /* Couleur de fond au survol */
    color: #fff;
    /* Couleur du texte au survol */
}

.link-icon {
    display: flex;
    align-items: center;
}

.bi-chevron-right {
    margin-left: 0.5rem;
    /* Espacement à droite de l'icône */
}







